<h1>Edit your post</h1>
<form action="/edit_post/<%=@id%>" method="post">
  <input type="text" name="title">
  </br>
  <textarea name = "content" cols=50 rows=4></textarea>
  </br>
  <input type="submit" value="Submit">
</form>
